/*  🎨 Vars 
    ---------  */
    :root {
        --filter-glass: blur(20px) saturate(180%);
        --sitenotice2-border-radius: 2px;
        --sitenotice2-border: #000;

        --sitenotice2-background: #fbfbfb;
        --sitenotice2-background--header: #c0c0c0;
        --sitenotice2-background--secondary: #000;
    }
    
    /* 👀 Sitenotice position */
    #siteNotice { 
        position: fixed !important; /* 👀 Cancelar cualquier otro valor */
        width: 420px;
        height: auto;
        max-height: 232px;
        bottom: 15px;
        left: 20px;
        padding: 0px;
        z-index: 10;
        transition: left 0.3s, bottom 0.3s, width 0.3s, height 0.3s, font-size 0.3s, border-radius 0.3s;
    }
    
    
    @media only screen and (max-width: 1135px) {
      #siteNotice {
        width: 100%; 
        bottom: 0;
        left: 0;
        font-size: 110%;
        }
        .mw-sitenotice2, .mw-sitenotice2:before, .mw-sitenotice2-header {
          border-radius: 0 !important;
      }
    }
    
    /* ⬅️ Text align to left */
    #siteNotice p {
        text-align: left;
        padding: 10px 18px;
    }
    
    /* 🚀 Container */
    .mw-sitenotice2 {
        white-space: nowrap;
        background-color: var(--sitenotice2-background);
        border-radius: var(--sitenotice2-border-radius);
        box-shadow: 0 3px 12px 0 #0000004d;
        overflow: hidden;
        border: 1px solid var(--sitenotice2-border);
        display: flex;
        flex-direction: column;
        transition: opacity 0.2s;
        transition: left 0.3s, bottom 0.3s, width 0.3s, height 0.3s, font-size 0.3s, border-radius 0.3s;
    }
    
    /* 📏 Border left with color */
    .mw-sitenotice2:before {
        background-color: var(--sitenotice2-background--secondary);
        border-radius: var(--sitenotice2-border-radius) 0 0 var(--sitenotice2-border-radius);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 6px;
    }
    
    /* 📓 Header Container */
    .mw-sitenotice2-header {
        text-align: left;
        background: var(--sitenotice2-background--header);
        border-radius: var(--sitenotice2-border-radius) var(--sitenotice2-border-radius) 0 0;
        padding: 10px 10px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    
    /* 📖 h2 styles */
    .mw-sitenotice2-header div:first-child {
           font-size: 18px; 
           padding: 0 10px;  
           font-weight: 500;
    }
    
    /* ❌ Close button */
    .mw-dismissable-notice-close {
        cursor: pointer;
        transition: opacity 0.2s;
        padding: 0 5px;
    }
    
    .mw-dismissable-notice-close:hover {
        opacity: 0.8;
    }
    
    /* 🧪 Other styles */
    .client-js .mw-sitenotice2 {
        display: none;
    }
    
    .mw-sitenotice2-close {
        visibility: hidden;
    }
    
    /* @noflip */ .sitedir-ltr .mw-sitenotice2-body {
        text-align: left;
    }
    
    /* @noflip */ .sitedir-rtl .mw-sitenotice2-body {
        text-align: right;
    }